/* RESPONSIVE DESIGN IN MEDIA QUARY */

@media only screen and (max-width: 576px) {
    .container {
        width: 90%;
    }
    .nav-bar .logo span {
        font-size: 25px;
    }
     /* banar seection */
     .banar-title {
        font-size: 34px;
        line-height: 55px;
        margin-bottom: 1rem;
    }
    .btn {
        padding: 15px 20px;
        font-size: 16px;
    }

   /* feature template */
    .feature-content {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 50px;
    }
    .feature-template {
        grid-template-columns: repeat(1, 1fr);
    }
    .feature-template img {
        width: 100% !important;
    }
    .our-feature {
        margin: 2rem 0 0 0;
    }

    /* feature-enjoy */
    .feature-enjoy {
        grid-template-columns: repeat(1, 1fr);
    }
    .enjoy-title {
        font-size: 35px;
    }
    .love-status {
        height: 400px;
    }
    .love-status #year-btn {
        width: 242px;
        height: 100px;
        font-size: 25px;
    }

    /* some facts */
    .facts-description {
        width: 100%;
    }
    .awords-content {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 2rem;
    }

    /* footer section */
    .sponspors-description {
        width: 100%;
    }
    .sponspors-company {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        text-align: center;
    }
    .reserved-title {
        font-size: 16px;
        line-height: 18px;
    }
}



@media screen and (max-width: 768px) {
    
    /* navigetion bar */
    .nav-bar .menu-bar {
        position: relative;
        left: 0;
        top: 0;
    }
    .nav-bar .menu-bar ul {
        position: absolute;
        left: -100px;
        top: 50px;
        width: 150px;
        display: flex;
        gap: 5px;
        flex-direction: column;
        background: #ffff;
    }
    .menu-bar ul li{
        padding: 10px;
    }
    .menu-bar .login-btn{
        font-size: 16px;
        padding: 0.5rem 1rem !important;
    }
    ul li {
        display: none;
    }
    .fa-bars {
        display: block;
    }

    .nav-bar:hover ul li {
        display: block;
    }
     /* feature template  */
    .feature-template img {
        width: 240px;
    }
   
}



@media only screen and (min-width: 577px) and (max-width: 992px) {
    .nav-bar .logo span {
        font-size: 30px;
    }
    .nav-bar .menu-bar ul li a {
        padding: 0 1rem
    }
    .banar-title {
        font-size: 45px;
    }
    /* feature content */
    .feature-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 105px 0 0 0;
        grid-row-gap: 2rem;
    }
    .love-status {
        background-size: 100% 95%;
    }
}


@media screen and (max-width: 1080px) {
    .feature-content {
        grid-template-columns: repeat(1, 1fr);
    }
    .feature-template {
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }
    .our-feature {
        margin: 105px 0 0 0;
    }
}