* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/***********
    header
*********/

.header {
    background: rgba(255, 144, 14, 0.1);
    padding-bottom: 20px;
}
.nav-bar {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar .logo span {
    font-size: 45px;
    line-height: 53px;
    font-weight: 700;
    color: #131313;
}
.nav-bar .menu-bar {
    display: flex;
    align-items: center;
}
.nav-bar .menu-bar ul {
    display: flex;
    align-items: center;
    list-style: none;
}
.nav-bar .menu-bar ul a {
    text-decoration: none;
    font-size: 18px;
    padding: 0 1rem;
    color: #424242;
}
.menu-bar .login-btn {
    font-size: 18px;
    background: #FF900E;
    border-radius: 0.25rem;
    color: #FFFFFF !important;
    padding: 1rem 2rem !important;
    border: none;
    outline: none;
}
.fa-bars {
    width: 2rem;
    margin-right: 2rem;
    display: none;
}

/* banar section */
.container {
    width: 80%;
    margin: 0 auto;
}
.banar-text-area {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.banar-title {
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 1rem;
}
.description {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.btn {
    border: none;
    background: #FF900E;
    padding: 20px 25px;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    margin: 50px 0;
}
.banar-status img {
    width: 100%;
}

/* feature template */
.feature-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 105px 30px 0 30px;
}
.feature-template {
    display: grid;
    gap: 10px;
    grid-row-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}
.feature-template img {
    width: 300px;
}
.our-feature {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 50px;
}
.our-title {
    font-size: 35px;
    font-weight: 700;
}
.quick-title {
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;
}
.feature-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #FF900E;
}

/* feature-enjoy */
.feature-enjoy {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 105px;
}
.feature-enjoy .features {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.enjoy-title {
    font-size: 45px;
    line-height: 53px;
    font-weight: 700;
    padding-left: 1rem;
    border-left: 5px solid #FF900E;
}
.enjoy-description {
    margin: 20px 0 30px 0 !important;
}
.article {
    padding: 30px;
    margin: 10px 0;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.article-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.love-status {
    background-image: url(../images/architect.png);
    background-repeat: no-repeat;
    background-size: 80% 95%;
    background-position: top right;
}
.love-status {
    display: flex;
    align-items: flex-end;
}
.love-status #year-btn {
    width: 242px;
    height: 150px;
    border: none;
    border-radius: 8px;
    background: #FF900E;
    font-size: 45px;
    line-height: 53px;
    color: #FFFFFF;
}

/* some facts */
.some-facts {
    margin-top: 105px;
}
.facts-title {
    font-size: 45px;
    line-height: 53px;
}
.facts-description {
    width: 442px;
    margin: 30px 0 60px 0;
}

.awords-content {
    display: grid;
    grid-column-gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 3rem;
}
.awords {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transition: all 0.3s ease-out;
}
.awords:hover {
    background: #f7b733;
    scale: 1.1;
}
.aword-count {
    font-size: 45px;
    line-height: 53px;
    color: #424242;
    margin: 5px 0;
}
.aword-title {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #727272;
}

/* footer section */
.our-sponspors {
    margin: 105px 0 216px 0;
}
.sponspors {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.sponspor-title {
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 24px;
}
.sponspors-description {
    width: 542px;
}

.sponspors-company {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    margin: 50px 0 130px 0;
}
.brand {
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand img {
    width: 100px;
}

.reserved {
    background: #FFF4E7;
    text-align: center;
    padding: 40px 0;
    border-radius: 8px;
}
.reserved-title {
    font-size: 20px;
    line-height: 23px;
    color: #424242;
}

.hide {
    display: none;
}